@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/menu.css");
/* @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
p {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-size: 20px;
}
h4 {
  color: gray;
}

li {
  font-size: 30px;
}

/* @media screen and(max-width:450px){
  .left, .main, .right{
    width: 100%;
  }
} */
