
nav{
    background-color: #F4F7FB;
    padding: 1.5em 0;
}
.nav__container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav__center ul{
    
    display:flex;
    list-style-type: none;
    }
.nav__center ul li{
    
    padding:20px;
    cursor: pointer;
}
.nav__center ul li a{
    font-size:20px;
    color:black;
    text-decoration:none ;
    padding: 1em;
}
.nav__center ul li a:hover{
    background-color: #eea539;
    color:aliceblue;
}



.nav__right{
    display: flex;
    gap: 2em;
}

