.orange {
  font-size: larger;
  color: #eea539;
}
.search-icon {
  border: 5px light grey;
  padding-left: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.hero__input {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding-left: 1em;
}
.hero__input input {
  padding: 2em 1em;
  border: none;
  outline:none;
}
.hero__search-button {
  border: none;
  padding: 2em;
  color: white;
  font-size: 23px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
}
.hero__container {
  display: flex;
  padding-top: 2em;
}
.hero__left h1 {
  font-size: 4em;
}
.hero__right img {
  width: 100%;
}
.pizzas img {
  width: 23%;
}
.hero__right {
  padding-left: 5em;
  padding-top: 5em;
  flex-direction: column;
  flex: 1;
}
.hero__left {
  flex: 1;
}
.hero__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.hero__cards--lightblue {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: aliceblue;
}
.hero__cards--img {
  display: flex;
  flex: 1;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* Media Queries */
@media screen and (max-width: 1105px) {
  .hero__right {
    display: none;
  }
}
