.orange {
    font-size: larger;
    color:#eea539;
}
.search-icon{
    border: 5px light grey;
}
.hero__input{
    padding: 2em 1em;
    border-color: gray;
}
.hero__search-icon{
    
    border: none;
  padding:2em;
  color:white;
  font-size:23px;
  border-radius:5px;
    background-color: black;
    
}
.hero__container{
    display:flex;
    padding-top: 2em;
}
.hero__left h1{
    font-size:100px;

}
.hero__right img{
    width:100%;
}
.pizzas img{
    width: 25%;
}
.hero__right{
    padding-left:5em;
    padding-top: 5em;
    flex-direction: column;
    flex:1;
}
.hero__left{
    flex:1;
}
.hero__cards{
    display: flex;
    
    gap:2em;
}
.hero__cards--lightblue{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: aliceblue;
}
.hero__cards--img{
    display: flex;
    background-color: black;
    border-radius: 50%;
    width:50px;
    height:50px;
}

